/* Blades in the Dark Actor Sheet */
.bitd.sheet section.window-content {
	overflow: scroll;
}
.bitd-actor-sheet {
	padding: 5px;
}
.bitd-actor-sheet section {
	clear: both;
	margin-bottom: 8px;
    display: inline-block;
	width: 100%;
}
.bitd-actor-sheet label {
	margin-bottom: 10px;
	display: block;
}
.bitd-actor-sheet h2 {
	padding-top: 10px;
	display: inline-block;
	width: 100%;
}
.bitd-actor-header .profile-img {
	float: left;
	margin-right: 4px;
}
.bitd-actor-header input.bitd-name-input {
	font-size: 2.5em;
	height: auto;
}
.profile-img {
  width: 250px;
  height: 250px;
  border: 0px;
}
.bitd-actor-header .class-block {
	clear: both;
}
.personal-data {
	display: inline-block;
	position: relative;
	padding: 18px 0px 0px;
  width: calc(100% - 254px);
  float: left;
}
.personal-data label {
	position: absolute;
	left: 4px;
	top: 4px;
	color: #444;
}

/* STRESS and TRAUMA */
.bitd-stress-block .personal-data, .bitd-attr-block .personal-data {
	border-top: 2px solid black;
	padding-top: 0px;
}
.bitd-stress-block .stress, .bitd-stress-block .trauma {
	display: inline-block;
	height: 48px;
	width: 18px;
  float: left;
	background-image: url('../img/stress.png');
  background-repeat: no-repeat;
	background-size: contain;
}
.bitd-stress-block .trauma {
  background-image: url('../img/trauma.png');
}
.trauma-block {
  float: left;
}
.trauma_description {
  width: calc(100% - 149px) !important;
  display: inline-block;
  float: left;
}
.bitd-stress-block label, .bitd-attr-block label {
	float: left;
  position: relative;
  left: 0;
  top: 0;
	padding: 6px 14px 6px 6px;
	background-color: black;
  color: #ccc;
	text-transform: uppercase;
}
.bitd-stress-block .stress.full {
	background-image: url('../img/stress-full.png');
}
.bitd-stress-block .trauma.full {
	background-image: url('../img/trauma-full.png');
}

/* ATTRIBUTES */
.bitd-attr-block .attr {
	display: inline-block;
	height: 29px;
	width: 20px;
  background-color: #fff;
  border: 1px solid #333;
  border-top: 0px;
  float: left;
}
.bitd-attr-block .attr-label {
  margin-bottom: 3px;
}
.bitd-attr-block .attr:nth-child(1) {
  border-right: 1px dashed #777;
}
.bitd-attr-block .attr:nth-child(2), .bitd-attr-block .attr:nth-child(3), .bitd-attr-block .attr:nth-child(4),
.bitd-attr-block .attr:nth-child(5) {
  border-right: 1px dashed #777;
  border-left: 0px;
}
.bitd-attr-block .attr:nth-child(6) {
  border-left: 0px;
}
.bitd-attr-block .attr.full {
  background: #183552;
}

.third {
	width: 33%;
  display: inline-block;
  float: left;
}
.two-third {
	width: 66%;
  display: inline-block;
  float: left;
}


/* ACTIONS */
.action-block {
  display: block;
  clear: both;
  height: 20px;
}
.action-block .action, .bitd-extra-dice .push-indicator, .help-indicator {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #777;
  border-radius: 50%;
  background: #fff;
  float: left;
  margin-right: 3px;
}
.action-block .action:nth-child(2)::before{
  position: relative;
  left: -3px;
  content: '';
  border-right: 1px dashed #333;
}
.action-block .action.active, .push.active .push-indicator, .help.active .help-indicator {
  background: #000;
}
.action-block label {
  position: relative;
  display: inline-block;
  background: none;
  color: #333;
  float: left;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  line-height: 22px;
}
.rollable, .stress, .trauma, .push, .help, .action, .attr {
  cursor: pointer;
}
.xp {
  padding: 4px;
  vertical-align: middle;
  display: inline-block;
  color: #777;
}


/* HARM and HEALING */
.bitd-harm-block .healing {
  float: right;
}
.bitd-harm-block .healing input {
  display: inline-block;
  width: 20px;
}
.bitd-harm-block .harm-level {
  clear: both;
  width: 100%;
}
.bitd-harm-block .harm-level span {
  border: 1px solid #777;
  display: inline-block;
  width: 30px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  float: left;
  background-color: rgba(0,0,0,.15);
}
.bitd-harm-block .harm-level input {
  width: calc(100% - 120px);
  display: inline-block;
  float: left;
}
.bitd-harm-block input.half {
  width: calc(50% - 60px);
}
.bitd-harm-block span.harm-explainer {
  width: 90px;
}

.bitd-extra-dice * { float: left; }
.push, .or { margin-left: 6px; }
.or { font-style: italic; }
.help { float: right; width: 34%; }


/* GEAR and TRAITS */
.bitd-gear-block .create, .bitd-traits-block .create {
	display: inline-block;
}
.bitd-gear-block .loadout {
  float: right;
}
.bitd-gear-block ul, .bitd-traits-block ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.bitd-item {
	width: 100%;
	float: left;
}
.bitd-item, .personal-data.half-width {
	width: 50%;
}
.bitd-item img {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 4px;
}
.bitd-item input[type="checkbox"] {
	float: left;
}
.bitd-item input[type="text"] {
	float: left;
	width: calc(100% - 64px);
}